.chats{
    width: 960px;
    overflow-y: scroll;
    padding-top: 5rem;
    /* padding: 8rem; */
    padding-right: 8rem;
    padding-bottom: 8rem;
    padding-left: 8rem;
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}
.userMessage{
    background-color: #bab7b7;
    padding:10px 20px;
    border-radius: 14px ;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}