
.inputBox {
    max-width: 700px;
}

textarea {
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: black !important;
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

textarea:focus{
    outline:none;
}

#submit { 
    height: 35px;
    width: 35px;
    right: 15px;
}


.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}
