.side {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  overflow: hidden;
  /* transition: width 0.3s ease;  */
}


.side.open {
  width: 320px;
  background-color: #ffffff;
}


.side.closed {
  width: 100px;
  background-color: #ffffff;
}

.Sidebar {
  max-width: 21%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: black;
  overflow-y: auto;
}


.side button{
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(255,255,255,0.5);
}

.side button span{
    font-size:20px;
}

.side button:hover{
    background-color: rgba(77, 74, 74, 0.05);
    cursor: pointer;
}



.history{
    margin:10px;
    padding:10px;
    height: 100%;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding:2px 5px;
    margin-bottom: 0.3rem;
    font-size:14px;
    border: solid 10px transparent;
    position:relative;
    color:black;
}
.history li:hover{
    background-color: rgba(78, 76, 76, 0.05);
    border-radius: 10px;
}
.fa-trash{
    opacity: 0;
    position: absolute;
    right: 0;
}
.history li:hover .fa-trash{
    opacity: 1;
    color:#999494;
}
.fa-trash:hover{
    color:rgb(221, 59, 59) !important;
}