.side {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  overflow: hidden;
  /* transition: width 0.3s ease;  */
}


.side.open {
  width: 320px;
  background-color: #171717;
}


.side.closed {
  width: 100px;
  background-color: #171717;
}

.Sidebar {
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #b4b4b4;
  overflow-y: auto;
}


.side button{
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: rgb(255,255,255,0.5);
}
.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}
.side button span{
    font-size:20px;
}

.side button:hover{
    background-color: rgb(180,180,180,0.05);
    cursor: pointer;
}
.sign{
    width: 260px;
    height: 60px;
    background-color: #212121;
   
}

.history{
    margin:10px;
    padding:10px;
    height: 100%;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding:2px 5px;
    margin-bottom: 0.3rem;
    font-size:14px;
    border: solid 10px transparent;
    position:relative;
}
.history li:hover{
    background-color: rgb(180,180,180,0.05);
    border-radius: 10px;
}
.fa-trash{
    opacity: 0;
    position: absolute;
    right: 0;
}
.history li:hover .fa-trash{
    opacity: 1;
    color:#fff;
}
.fa-trash:hover{
    color:rgb(221, 59, 59) !important;
}